@model GM.Core.Models.BonEntree
<div class="navbar">
    <nav class="navbar-inner   navbar-fixed-top  " style="top: 40px; margin-bottom: 90px">
        <div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><button id="save-btn" style="margin-right: 2px" class="btn btn-success navbar-btn"><i class=" icon-ok"></i> Enregister et Continuer</button></li>
                    <li><button id="update-btn" style="margin-right: 2px" class="btn btn-default navbar-btn"><i class=" icon-lock"></i> Enregistrer et fermer</button></li>
                    @if (Model != null && Model.Id != 0)
                    {
                        <li><button  id="add-ligne-btn" style="margin-right: 2px" class="btn btn-default navbar-btn"><i class=" icon-cog"></i> Ajouter Ligne</button></li>
                        <li><button id="stock-btn" style="margin-right: 2px" class="btn btn-default navbar-btn"><i class=" icon-ok"></i>Enregistrer Params de Stock</button></li>
                    }
                    <li><button id="delete-btn" style="margin-right: 2px" class="btn btn-danger  navbar-btn"><i class=" icon-arrow-left"></i> Femer</button></li>
                </ul>
            </div>
        </div>
    </nav>
</div>



