@model IEnumerable<GM.Core.Models.UtilisateurRole>


<table class="table">
    <tr>
        <th>
            Role
        </th>
      
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.Nom)
        </td>
        
       
    </tr>
}

</table>
