<div class="navbar">
    <nav class="navbar-inner   navbar-fixed-top  " style="top: 40px; margin-bottom: 90px">
        <div>
              <div class="nav-collapse">
                <ul class="nav">
                    <li><button id="active-btn" style="margin-right: 2px" class="btn btn-success navbar-btn"><i class="icon-white icon-user"></i> Activer un compte</button></li>
                    <li><button id="desactive-btn"  style="margin-right: 2px" class="btn btn-danger navbar-btn"><i class="icon-white icon-lock"></i> Bloquer un compte</button></li>
                    <li><button id="delete-btn" style="margin-right: 2px" class="btn btn-default  navbar-btn"><i class=" icon-trash"></i> Supprimer</button></li>
                    <li><button id="details-btn" style="margin-right: 2px" class="btn btn-default  navbar-btn"><i class="icon-eye-open"></i> Vérifier le compte</button></li>
                </ul>

                
            </div>
        </div>
    </nav>
</div>
