@using Gm.UI.Areas.Gestion.Models
@using GM.Core.Models
@using Kendo.Mvc.UI
@model IEnumerable<Utilisateur>

@{
    ViewBag.Title = "Utilisateurs";
    Layout = "~/Areas/Gestion/Views/Shared/_AdminMainPage.cshtml";
}
@{
    Html.RenderPartial("_ToolBarUser");
}

<div style="margin-top: 90px" >
    <div class="alert alert-warning"></div>
   
    <div class="row">
        <div class="span10">
            <form class="form-horizontal">
                <label class="control-label">Filtre</label>
                <div class="controls">
                    <select id="filter-gird">
                        <option></option>
                        <option>Touts les utilisateurs </option>
                        <option>Utilisateurs non activés</option>
                        <option>Utilisateurs en banne</option>
                    </select>
                </div>
            </form>
            @{
                Html.RenderPartial("_SearchForm", new UtilisateurModel());
            }
        </div>
        <div class="span2  ">
           

        </div>

    </div>


    @(Html.Kendo().Grid(Model)
          .Name("grid-users")
          .Columns(columns =>
          {
              columns.Bound(c => c.Id).Width(15).Sortable(false).ClientTemplate("<input type='checkbox' class='checkbox' />");
              columns.Bound(c => c.Pseudo).Width(60);
              columns.Bound(c => c.Email).Width(80);
              columns.Bound(c => c.Nom).Width(80);
              columns.Bound(c => c.Prenom).Width(80);

          })
          .HtmlAttributes(new {style = "height: auto;"})
          .Scrollable()
          
          .Sortable()
          .Events(events => events.Change("OnChange"))
          .Pageable(pageable => pageable
              .Refresh(true)
              .PageSizes(true)
              .ButtonCount(5))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Read(read => read.Action("AllUsers", "Admin")
                  .Data("additionalData"))
          )
          )
</div>
<script>
    $(document).ready(function() {
        $("#filter-gird").select2();
    });
    function additionalData() {
        return {
            UserName: $('#Identifiant').val(),
            Email: $('#Email').val()
        };

    }
    var selectedIds = [];
    function OnChange(e) {
        var grid = e.sender;
        selectedIds = [];
        selectedIds.push(grid.dataItem(e.sender.select()));
        console.log(selectedIds);
    }
</script>