@using Gm.UI.Areas.Gestion.Models
@model IEnumerable<LigneComamndeModel>

@if (User.IsInRole("distributeur"))
{


    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">
                Lignes commande
            </a>
        </li>
        <li><a href="#ios" data-toggle="tab">Client</a></li>

    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <div class="container-fluid" style="padding: 15px;  height: auto">

                @{
                    Html.RenderPartial("_GridDetialLignes", Model);
                }


            </div>
        </div>
        <div class="tab-pane fade" id="ios">

            @{
                 Html.RenderPartial("_DetailClient", ViewData["client"] as PharmacieModel);
            }
        </div>


    </div>
}
else
{
   
    Html.RenderPartial("_GridDetialLignes", Model);
   
}