@model Gm.UI.Areas.Gestion.Models.PharmacieModel
@{
    ViewBag.Title = "NouvellePharmacie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Etap 2:<small> Créer une nouvelle Pharmacie</small></h2>

<hr/>
@{
    Html.RenderPartial("_CreatePharmacie", Model);
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
