
@{
    ViewBag.Title = "Administration";
    Layout = "~/Areas/Gestion/Views/Shared/_Root.cshtml";
}

<div  class="container-fluid">
    <div class="navbar navbar-inverses" style="padding: 0">
       @{
           Html.RenderPartial("_AdminMenu");
       }
    </div>
   
        @if (IsSectionDefined("sidebar"))
        {
            <div class="row-fluid" style="margin-top: 50px">
                <div class="span2">
                    <div class="well" style="padding: 8px 0;">
                        @RenderSection("sidebar")
                    </div>
                </div>
                <div class="span10" style="border: 1px solid #ccc;  background-color: white">
                    @RenderBody()
                </div>
            </div>

        }
        else
        {
            <div class="row-fluid" style="height: 100%">
                <div class="span12" style="border: 1px solid #ccc; background-color: white;margin-top: 70px">
                    @RenderBody()
                </div>
            </div>

        }
               
           
</div>
<script type="text/javascript">
    $(function() {
        setInterval(runNotification, 10000);
    });
    function runNotification() {
        $.ajax({
            url: '@Url.Action("Notifications", "Admin")' ,
            type: 'POST',
            success: function (data) {
                
                var count = $("#count span").text();
                $("#count span").text(data);
                if (data!= null && data >count) {
                    $.bootstrapGrowl("Un nouveau compte n'est pas activé ", { type: 'success' });
                    $('#users').data('kendoGrid').dataSource.read();
                }
            },
            error: function () {
            }
        });
        setInterval(runNotification, 10000);
        
    };
</script>