<div class="navbar">
    <nav class="navbar-inner navbar-fixed-top    " style="margin-top: 40px;">
        <div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><button id="add-btn" style="margin-right: 2px" class="btn btn-success navbar-btn"><i class="icon-white icon-plus"></i> Ajouter</button></li>
                    <li><button id="update-btn" style="margin-right: 2px" class="btn btn-primary navbar-btn"><i class="icon-white icon-pencil"></i> Modifier</button></li>
                    <li><button id="delete-btn" style="margin-right: 2px" class="btn   navbar-btn"><i class=" icon-trash"></i> Supprimer</button></li>
                    <li><button id="return-btn" style="margin-right: 2px" class="btn   navbar-btn"><i class=" icon-lock"></i> Fermer</button></li>
                   @if (Request.RawUrl.Contains("Medicament"))
                   {
                    <li><button data-toggle="modal" data-target="#import-modal" id="import-xlw-btn" style="margin-right: 2px" class="btn   navbar-btn"><i class=" icon-upload"></i> Importer un fichier excel</button></li>


                   }
                    @if (Request.RawUrl.Contains("Commande") || Request.RawUrl.Contains("BonEntree"))
                    {
                        <li><button  id="details-cmd-btn" style="margin-right: 2px" class="btn   navbar-btn"><i class=" icon-list"></i> Détails </button></li>


                    }
                    @if (Request.RawUrl.Contains("BonEntree"))
                    {
                        <li><button id="generer-bn-btn" style="margin-right: 2px" class="btn   navbar-btn"><i class="icon-add"></i> Entrée magasin </button></li>
                    }
                </ul>

            </div>
        </div>
    </nav>
</div>