@model GM.Core.Models.Specialite
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Gestion/Views/Shared/_PharmacieMainPage.cshtml";
}

<div style="margin-top: 80px;padding: 15px;height: auto" class="container-fluid">
    <h2>Nouvelle <small>specialité</small></h2>
    <hr />
   
  
    <div id="alert">
       
    </div>
    
    @{
        Html.RenderPartial("_CreateOrUpdate", Model);
    }


</div>
