body {
    padding-top: 50px;
    padding-bottom: 20px;
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

select {
     max-width: 280px;
    margin-bottom: 5px;
   
    height: 32px
}
select.form-control {
    max-height: 37px;
     max-width: 280px;
}

.k-textbox {
    -moz-min-width: 280px;
    -ms-min-width: 280px;
    -o-min-width: 280px;
    -webkit-min-width: 280px;
    min-width: 280px;
    margin-bottom: 5px;
   
    
}

.search_bar {
		width:100%;
    margin: 5px;
		height:auto;
		float:left;
		position:relative;
		left:-17px;
}
.k-widget.k-numerictextbox,  .k-datepicker.k-header {
    width: 280px;
    max-width: 280px;
}

#nav-search-label {
	  color: #333333;
    display: block;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: bold;
    left: 140px;
    line-height: 12px;
    position: absolute;
    top: 16px;
}
#nav-search-in {
    display: inline-block;
    height: 27px;
    left: 202px;
    overflow: hidden;
    position: absolute;
    top: 6px;
}
#nav-search-in #nav-search-in-content {
    color: #777777;
    display: inline-block;
    font-family: "arial","sans-serif";
    font-size: 11px;
    height: 27px;
    line-height: 27px;
    margin: 0 59px 0 6px;
    text-indent: 1px;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#nav-search-in.nav-facade-active .nav-down-arrow {
    display:inline-block;
    right: 10px;
    top: 11px;
	background:url("search_arrow.png");
	height:5px;
	width:9px;
}
.nav-facade-active #searchDropdownBox {
    cursor: pointer;
    height: 29px;
    left: 0;
    opacity: 0;
    top: 0;
    visibility: visible;
    width: auto;
}
#searchDropdownBox {
    background: none repeat scroll 0 0 white;
    border: 1px solid #777777;
    color: black;
    font-family: "arial","sans-serif";
    left: 5px;
    margin: 0;
    outline: medium none;
    padding: 0;
    position: absolute;
    top: 3px;
    visibility: hidden;
    width: 190px;
}
.nav-sprite {
    background:url("search_bck.png") no-repeat;
}

.nav-searchfield-outer {
    height: 30px;
    margin-left: 190px;
    margin-top: 5px;
    width: 637px;
}

#twotabsearchtextbox {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    color: #333;
    font-family: "Myriad Pro";
    font-size: 14px;
    height: 17px;
    margin: 6px 165px 0;
    outline: medium none;
    padding: 0;
    width: 72%;
    font-weight:bold;
}
.nav-submit-button {
    background-image: url("go_bttn.png");
    height: 27px;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 3px;
    position: absolute;
    right: 100px;
    top: 7px;
}

.nav-submit-button .nav-submit-input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    height: 28px;
	 font-family:"Myriad Pro";
    line-height: 15px;
    margin: 0;
    padding: 0;
    width: 34px;
}
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: &quot; &quot;;
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.pager .next > a,
.pager .next > span {
  float: right;
}

.pager .previous > a,
.pager .previous > span {
  float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
}