
@{
    ViewBag.Title = "Medicaments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="margin-top :50px">
    <div class="row">
        <div class="span3">
            <ul class="list-group">
                <li class="list-group-item">Recherche</li>
                <li class="list-group-item">Recherche avancé</li>

            </ul>
        </div>
        <div class="span9"></div>
    </div>
</div>

