@model Gm.UI.Areas.Gestion.Models.PharmacieModel

<div class=" col-md-3 col-sm-6 ">
    <div class="thumbnail">
        <img class="group list-group-image" src="@Url.Action("SomeImage", "Pharmacien", new { imageName = Model.Logo })" alt="">
        <div class="caption">
            <h3>@Model.Nom</h3>
            <p>@Model.Tel.</p>
            <p>
                <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
            </p>
        </div>
    </div>
</div>